<style>

  @font-face { font-family: Miller; src: url('Fonts/Miller-Regular.otf'); }
  @font-face { font-family: Breakable; src: url('Fonts/Breakable.ttf'); }
  @font-face { font-family: Salt; src: url('Fonts/Salt-Regular.otf'); }
  @font-face { font-family: Flow; src: url('Fonts/Flow.otf'); }
  @font-face { font-family: Leafy; src: url('Fonts/Leafy.otf'); }
  @font-face { font-family: LeagueGothic-Regular; src: url('Fonts/LeagueGothic-Regular.otf'); }

    body, html {                                       /*background color and height*/
      background-color:#cccde8;
      background-image: url(Pictures/patternDiamond.png);
      height:100%;
      margin:0;
      }

    #topBar {                                           /*black top menu bar*/
      position: absolute;
      background-image: url(Pictures/black.jpg);
      background-size: 20%;
      top: 0px;
      right: 0px;
      left: 0px;
      bottom: 0px;
      width: 100%;
      height: 44px;
    }
      /*Icons*/
    i {
    font-size: 50px;
    color: white;
    position: absolute;
    float: left;
    }
    .background {                                        /*image background*/
      /* The image used */
      background-image: url("Pictures/beachAboutMe.jpg");
      /* Full height */
      height: 500px;
      width: auto;
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      border-radius: 20px;
    }
    h1 {
      text-align:center;
      margin-top: 50px;
      margin-bottom: 40px;
      color:#1c1c21;
      font-size:900%;
      font-family: Leafy;
      letter-spacing: 3px;
      line-height: 80%;
      text-shadow: -2px 0 #dedeed, 0 2px #dedeed, 2px 0 #dedeed, 0 -2px #dedeed;*/
    }

    a.hello:link, a.hello:visited{
      position:absolute;
      color: #eaebf2;
      padding: 12px 10px;
      text-align: center;
      display: inline-block;
      font-family: 'Lato', sans-serif;
      font-size: 100%;
      text-decoration: none;
      text-transform: uppercase;
      -webkit-transition-duration: 0.5s; /*Animation for the button */
      transition-duration: 0.5s;
      cursor: pointer;
    }
    a.hello:hover, a.hello:active{
      padding-bottom: 9px;
      border-bottom: 4px solid #9597c6;
      color:#f2d2d2;
      -webkit-transition-duration: 0.5s; /*Animation for the button */
      transition-duration: 0.5s;
      cursor: pointer;

    }
    .center {
      margin: auto;
      width: 100%;
    }

    p {
      position:relative;
      text-align:center;
      color: #46434f;
      font-size: 100%;
      font-family: 'Lato', sans-serif;
      /* border : 5px double #79879e; */
      background-image: url(Pictures/patternDiamond.png);
      padding :50px;
      outline: 3px dotted #79879e;
      width: 40%;
      margin-left: auto;
      margin-right: auto;
    }
/*Image Portfolio Style*/
  #imagePortfolio {
    width: 30%;
    border-radius: 8px;
  }
  a.ArtButton:link {
      text-decoration: none;
  }
  a.ArtButton:hover {
      background-color: yellow;
  }
  .round {
      border-radius: 50%;
      background-color: #b8c4d8;
      color: purple;
      font-size: 300px;
      padding: 2px 100px;
  }

/*myCreations Page, images*/
  a.whatever:link, a.whatever:visited{

  }
  a.whatever:hover, a.whatever:active{

  }
  .container {
      text-align:center;
      position: relative;
      width: 100%;
      margin-bottom: 40px;
  }

  .image {
    opacity: 0.4;
    display: block;
    width: 90%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border: 2px solid #79a3d1;
    border-radius: 8px;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }

  .container:hover .image {
    opacity: 1;
  }

  .container:hover .middle {
    opacity: 1;
  }

  .text {
    color: white;
    font-family:leafy;
    font-size: 300%;
    padding: 10px 17px;
    line-height: 80%;
    text-shadow: -2px 0 #131b21, 0 2px #131b21, 2px 0 #131b21, 0 -2px #131b21;*/
  }

</style>
